@use '../variables' as *;
@use '../mixins/breakpoints' as *;

@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;
	text-decoration: none;
}

%btn_submit {
	display: flex;
	align-items: center;
	justify-content: center;

	max-width: 32.8rem;
	border-radius: 0.9rem;
	font-size: 1.8rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 100%;
	color: white;
	background: linear-gradient(110deg, $color_orange 70%, #ff7b3a96 80%, $color_orange 95%);
	margin-bottom: 2rem;
	cursor: pointer;

	&:hover {
		background: linear-gradient(110deg, $color_lime 70%, #dfdfdf 80%, $color_lime 95%);
		background-color: $color_lime;
	}

	@include bp($point_4, min) {
		width: 100%;
		height: 6.6rem;
		font-size: 1.8rem;
	}
	@include bp($point_5) {
		width: 75%;
		height: 5rem;
		font-size: 1.6rem;
	}
}

%btn_cookie {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border: 0.2rem solid $color_lime;
	line-height: 100%;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $font_nunito;
	font-weight: 900;
	cursor: pointer;

	@include bp($point_4, min) {
		height: 5.4rem;
		max-width: 16.2rem;
		border-radius: 1.5rem;
		font-size: 1.7rem;
	}
	@include bp($point_5) {
		height: 4rem;
		max-width: 6rem;
		border-radius: 1rem;
		font-size: 1.3rem;
	}

	&.green--dark {
		color: #495340;
	}
	&.green--light {
		color: #326a00;
	}

	&:hover,
	&:active {
		color: white;
		background-color: $color_lime;
	}
}

%btn_green {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;

	margin-left: 1.5rem;
	color: white;
	background-color: $color_lime;
	border-radius: 0.6rem;
	box-shadow:
		0 0.3rem 0.75rem 0 #9cffb180,
		0 0 0 0.15rem $color_lime,
		0 0.15rem 0.15rem 0 #00000024,
		0 0.15rem 0 0 #9cffb1 inset;
	line-height: 100%;
	text-decoration: none;
	font-family: $font_inter;
	font-weight: 500;
	font-size: 2.2rem;
	cursor: pointer;

	@include bp($point_4, min) {
		height: 5rem;
		max-width: 25.4rem;
	}
	@include bp($point_5) {
		height: 3rem;
		max-width: 3rem;
	}

	&:hover,
	&:active {
		color: currentColor;
		background-color: transparent;
	}
}

//color extends
// %transp_btn_1 {
// 	@include st_btn;

// 	font-weight: 700;
// 	color: $color_white;
// 	background-color: transparent;
// 	transition: 0.3s ease;
// 	border: 2px solid $color_white;

// 	&:hover {
// 		background-color: $color_white;
// 		color: $color_black;
// 	}
// }

//size extends
// %btn_size_1 {
// 	min-width: 23.2rem;
// 	height: 5.4rem;
// 	padding: 0 2rem;

// 	line-height: 5.4rem;
// 	font-size: 1.6rem;

// 	border-radius: 2px;
// }

// .btn_white_1 {
// 	@extend %white_btn_1;
// 	@extend %btn_size_1;
// }