@use './helpers/abstracts' as *;

.faqs_accrs {
	font-family: $font_inter;
	font-weight: 500;
	color: #00000099;

	@include bp($point_2, min) {
		font-size: 2.7rem;
	}
	@include bp($point_3) {
		font-size: 1.8rem;
	}
}

.accr__item {
	background-color: #f7f7fa;
	border: 0.4rem solid #e2e4eb;
	border-bottom: 0.82rem solid #e2e4eb;
	border-radius: 3rem;

	&:not(:last-of-type) {
		@include bp($point_2, min) {
			margin-bottom: 5rem;
		}
		@media (min-width: $point_4) and (max-width: $point_3) {
			margin-bottom: 3rem;
		}
		@include bp($point_5) {
			margin-bottom: 2rem;
		}
	}
}

.accr__sup {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 1;
	background-color: inherit;
	border-radius: inherit;
	cursor: pointer;

	@include bp($point_2, min) {
		padding: 4rem 5rem;
	}
	@include bp($point_3) {
		padding: 2rem 3rem;
	}
}

.accr__title {
	font-weight: 700;
	color: black;

	@include bp($point_2, min) {
		font-size: 3.3rem;
	}
	@media (min-width: $point_4) and (max-width: $point_3) {
		font-size: 2.5rem;
	}
	@include bp($point_5) {
		font-size: 1.8rem;
	}
}

.accr__btn {
	width: 3.4rem;
	height: 1.66rem;
	background-color: #00000099;
	mask-image: url(../imgs/icons/accr-btn.svg);
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	transform: rotate(0deg);
	transition: transform 0.5s;

	&.btn--open {
		transform: rotate(180deg);
	}
}

.accr__text {
	position: relative;
	top: -4rem;
	visibility: hidden;
	overflow: hidden;
	min-height: 0;
	max-height: 0;
	transition:
		visibility 0.5s,
		min-height 0.5s,
		max-height 0.5s,
		padding-top 0.5s;

	@include bp($point_2, min) {
		padding: 0 5rem;
	}
	@include bp($point_3) {
		padding: 0 3rem;
	}

	&.accr--show {
		visibility: visible;
		padding-top: 3.6rem;

		@include bp($point_2, min) {
			min-height: 14.3rem;
			max-height: 24.3rem;
		}

		@media (min-width: $point_6) and (max-width: $point_3) {
			min-height: 10.3rem;
			max-height: 20.3rem;
		}

		@include bp($point_6) {
			min-height: 14.3rem;
			max-height: 28.3rem;
		}
	}
}

.accr__list-title {
	color: $color_text;
	margin-bottom: 0.5rem;
}

.accr__list {
	padding-left: 3.8rem;

	li {
		list-style: decimal;
	}
}