@use './helpers/abstracts' as *;

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 17.4rem;
	background-color: $color_beige;
	padding: 4.5rem 2rem 5.2rem;
	font-family: $font_inter;
}

.footer_block {
	display: flex;
	justify-content: space-between;
	column-gap: 2rem;
	width: 100%;
	height: 100%;
	max-width: 151.6rem;

	@include bp($point_4, min) {
		align-items: center;
	}
	@include bp($point_5) {
		flex-direction: column;
		row-gap: 3rem;
	}
}

.footer_part {
	display: flex;
	flex-direction: column;
	width: 32.8rem;

	.creta__img {
		margin-bottom: 4.8rem;
	}
}

.footer__btn {
	margin-bottom: unset;
	text-decoration: none;
}

.footer_navs {
	display: flex;
	flex-direction: column;
	width: inherit;
	height: inherit;
	max-width: 58rem;
	font-weight: 400;

	.nav__email,
	.nav__phone {
		width: 100%;

		a {
			text-decoration: none;
			color: currentColor;

			&:hover {
				color: $color_orange;
			}
		}

		@include bp($point_4, min) {
			margin-bottom: 2rem;
		}
		@include bp($point_5) {
			margin-bottom: 1rem;
		}
	}

	.nav__location {
		display: flex;
		align-items: center;
		line-height: 1.7;
	}

	@include bp($point_4, min) {
		font-size: 2.2rem;
	}
	@include bp($point_5) {
		font-size: 1.5rem;
	}
}