@use './helpers/abstracts' as *;

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 17.4rem;
	background-color: #fff0cb;
}

.footer_block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 9.4rem;
	max-width: 151.6rem;
}

.footer_navs {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 9.4rem;
	max-width: 58rem;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 2.2rem;

	.nav__email {
		display: flex;
		align-items: center;
		height: 2.2rem;
		margin-bottom: 2.5rem;
	}

	.nav__location {
		display: flex;
		align-items: center;
		height: 5.2rem;
		line-height: 1.7;
	}
}