@use './helpers/abstracts' as *;

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 12rem;
	box-shadow: 0 1rem 5rem 0 #0000000d;
}

.header_block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 151.6rem;
}

.header_elems {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 65.2rem;
}

.creta__img {
	width: 100%;
	height: 5.2rem;
	max-width: 25.6rem;

	.creta__logo {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
		object-position: center;
	}
}

.cookie_btns {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: auto;
	max-width: 35rem;

	.cookie__button {
		@extend %btn_cookie;

		.cookie__pic {
			display: block;
			margin-left: 0.8rem;
			width: 1.8rem;
			height: 1.8rem;
			background-color: currentColor;
			mask-image: url(../imgs/icons/cookie.svg);
			mask-size: contain;
			mask-repeat: no-repeat;
			mask-position: center;
		}
	}
}

.header_button {
	@extend %btn_green;

	.btn__star {
		display: block;
		margin-right: 1.2rem;
		width: 1.8rem;
		height: 1.8rem;
		background-color: currentColor;
		mask-image: url(../imgs/icons/star.svg);
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center;
	}

	.btn__text {
		line-height: 100%;
		.upper {
			text-transform: uppercase;
		}
	}
}