@use './helpers/abstracts' as *;

.hero_block {
	display: flex;
	align-items: center;
	column-gap: 15rem;
	font-family: $font_inter;
	font-weight: 700;

	@include bp($point_3) {
		column-gap: 3rem;
	}
	@include bp($point_5) {
		flex-direction: column;
	}
}

.hero_content {
	width: 100%;
	max-width: 67.9rem;
}

.hero_sup {
	position: relative;
	padding-top: 8rem;
	width: 100%;
	margin-bottom: 11.2rem;

	@include bp($point_3) {
		margin-bottom: 2rem;
	}
}

.hero__title {
	width: 100%;
	max-width: 67.9rem;
	font-size: 6.4rem;
	line-height: 7rem;

	@include bp($point_3) {
		font-size: 4rem;
		line-height: 1.5;
	}
}

.paper__plane {
	position: absolute;
	z-index: -1;
	top: 1rem;
	left: -18.8rem;
	width: 100%;
	height: 22rem;
	max-width: 33rem;

	.plane__pic {
		@extend %contain_img;
	}

	@include bp($point_5) {
		display: none;
	}
}

.hero_form {
	width: 100%;
	max-width: 60rem;
}

.hero__form-title {
	font-size: 1.6rem;
	text-transform: uppercase;
	margin-bottom: 3.2rem;
}

.hero_form_w {
	display: flex;
	flex-wrap: wrap;
	gap: 2.45rem;
	width: 100%;
	margin-bottom: 3rem;
}

.hero__label {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 6rem;
	width: 13.1rem;
	border: 0.2rem solid #00000026;
	border-bottom: 0.5rem solid #00000026;
	border-radius: 0.8rem;
	font-size: 2rem;
	user-select: none;
	cursor: pointer;

	&:has(.hero__radio:checked) {
		color: white;
		background-color: $color_lime;
		transition: all 0.2s;
	}

	.hero__radio {
		position: absolute;
		opacity: 0;
	}

	@include bp($point_3) {
		font-size: 1.5rem;
		height: 4rem;
		width: 10rem;
	}
}

.btn__prime {
	@extend %btn_submit;
}

.hero__form-discount,
.hero__form-descr {
	text-transform: capitalize;
	font-weight: 500;
	font-size: 1.8rem;

	@include bp($point_3) {
		font-size: 1.3rem;
	}
}

.hero__form-discount {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 25.7rem;
	margin-bottom: 0.7rem;
	color: $color_text;

	strong {
		color: black;
		font-weight: 700;
		font-size: 3rem;

		@include bp($point_3) {
			font-size: 1.5rem;
		}
	}

	span {
		color: $color_lime;
		font-weight: 700;
	}

	@include bp($point_3) {
		justify-content: unset;
		gap: 0.5rem;
	}
}

.hero__form-descr {
	color: #00000080;

	.hero__link {
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;
		color: $color_orange;

		&:hover {
			color: $color_lime;
		}
	}
}

.hero__image {
	width: 100%;
	height: 68.4rem;
	max-width: 73.8rem;

	.hero__pic {
		@extend %contain_img;
	}

	@include bp($point_5) {
		height: 30rem;
		order: -1;
	}
}
