@use './helpers/abstracts' as *;

.slider_block {
	position: relative;
}

.slider_block_w {
	position: relative;
	padding: 0 2rem;

	.btn__slider--prev,
	.btn__slider--next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 3.53rem;
		height: 2rem;
		background-color: $color_brown;
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center;
		mask-image: url(../imgs/icons/slider-arrow.svg);
		cursor: pointer;

		&:hover {
			background-color: $color_lime;
		}
	}

	.btn__slider--prev {
		left: -1rem;
	}

	.btn__slider--next {
		rotate: 180deg;
		transform-origin: top;
		right: -1rem;
	}
}

.slider__pag {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 2rem;
	max-width: 11rem;
	margin: 3.8rem auto 0;

	.swiper-pagination-bullet {
		width: 2rem;
		height: 2rem;
		background-color: transparent;
		border: 0.2rem solid $color_brown;
		opacity: unset;
	}
	.swiper-pagination-bullet-active {
		background-color: $color_brown;
	}
}

.lrn_slider {
	width: 100%;
	max-width: 118rem;
	padding: 0 2rem;
}

.slider__item {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	height: auto;
	max-width: 35.2rem;
	min-height: 35.8rem;
	border-radius: 4rem;
	padding: 2.8rem 3.2rem 4.6rem 1.4rem;
	background-color: #ddffbb;
	font-family: $font_mukta;
	font-weight: 700;
	user-select: none;

	&.slider--pink {
		background-color: $color_light-pink;
	}
	&.slider--beige {
		background-color: $color_beige;
	}
	&.slider--blue {
		background-color: $color_light-blue;
	}
}

.slider__sup {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
	line-height: 2.5rem;
}

.slider__img {
	width: 100%;
	height: 9.4rem;
	max-width: 8.8rem;

	.slider__pic {
		@extend %contain_img;
	}
}

.slider__title {
	font-size: 2rem;

	&.title--center {
		margin: 0 auto;
	}
}

.slider__list {
	display: flex;
	flex-direction: column;
	position: relative;
	padding-left: 3.2rem;
	width: 100%;
	max-width: 26.7rem;
	row-gap: 1rem;
	font-size: 1.6rem;
	line-height: 2rem;
	color: green;

	.list__itm {
		position: relative;

		&::before {
			position: absolute;
			content: '';
			top: 0.4rem;
			left: -2rem;
			height: 1rem;
			width: 1rem;
			background-color: green;
		}
	}

	&.list--pink {
		color: #bd6e89;
		.list__itm {
			&::before {
				background-color: #ff96b9;
			}
		}
	}
	&.list--beige {
		color: #a58639;
		.list__itm {
			&::before {
				background-color: #d8af4a;
			}
		}
	}
	&.list--blue {
		color: #28529fe5;
		.list__itm {
			&::before {
				background-color: #789bdc;
			}
		}
	}
}